* {
  box-sizing: border-box;
}
.image-container {
  margin: 50px auto 50px;

  max-width: 100%;
  border-radius: 20px;
  display: flex;
}
.card {
  margin: 16px;

  display: flex;
}
.opacity-filter {
  filter: opacity(50%);
}
.capation {
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
  display: grid;
  height: 255px;
  margin-block: auto;
  text-transform: lowercase;
}
.gallery {
  display: flex;
}
.blur {
  filter: blur(4px);
}
.invert {
  filter: invert(100%);
}
